body {
  background-color: color: #003366;
  text-align: center;
}

.container{
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height:1.5;
  color: #800020;
}

header {
  margin-bottom:30px;
}

form {
  padding: 30px;
  background-color: 	#add8e6;
  border-radius: 10 px;
}
