body {
  background-color: #f9f7fe;
  text-align: center;
}

a {
 color: #885df1; 
}

.container{
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height:1.5;
  color: #800020;
}

header {
  margin-bottom:30px;
}

.form-container {
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 30px;
}

form {
  display: flex;
  gap: 10px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;

}

  .submit-button {
    margin-left: 10px;
    margin-top: 30px;
    background:#885df1;
    color: white;
    border: none;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 24px;
  }

.poem {
font-size: 20px;
background-color: #fff;
display: none;
padding: 20px;
line-height: 1.8;
border-left: 3px solid #885df1;
}

.poem strong {
color: #885df1;   
}

footer {
text-align: center;
font-size: 16px;
margin-top: 30px;
}

/*
Source - https://stackoverflow.com/a/16012979
Posted by Neil, modified by community. See post 'Timeline' for change history
Retrieved 2026-08-13, License - CC BY-SA 3.0
*/

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
